* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #0097e0;
  --white-color: #fff;
  --dark-blue-color: #012169;
}

body {
  font-family: Helvetica;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.button {
  font-size: 0.9375rem;
  font-family: Helvetica;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 25px;
  border: none;
}

.button__outlined {
  border: 1px solid var(--white-color);
  border-radius: 25px;
  color: var(--white-color);
  background: transparent;
  outline: none;
  padding: 12px 18px;
  box-shadow: 0 0 0 1px #fff, 0 0 0 1px #fff;
  font-size: 0.75rem;
}

.button__contained {
  border: 1px solid var(--white-color);
  border-radius: 25px;
  color: var(--dark-blue-color);
  background: var(--white-color);
  outline: none;
  padding: 12px 18px;
  box-shadow: 0 0 0 1px #fff, 0 0 0 1px #fff;
  font-size: 0.75rem;
}

/* HEADER SECTION */

#header {
  height: 80px;
  padding: 12px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 100%);
  background-color: var(--main-bg-color);
}

#header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.6;
  height: 40px;
}

.header__icon div {
  background: url("./assets/logos/paypal.svg");
  background-repeat: no-repeat;
  background-size: auto 40px;
  width: 40px;
  min-height: 40px;
}

.navbar {
  display: none;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navbar ul li {
  text-transform: uppercase;
  color: var(--white-color);
  padding-left: 24px;
  font-size: 0.9rem;
  font-weight: 300;
}

#header__menu {
  flex: 0.2;
}

#header__login {
  flex: 0.2;
}

#header__signup {
  display: none;
}

/* MAIN SECTION */

#main {
  background-color: var(--main-bg-color);
  color: var(--white-color);
}

.main__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

.main__info {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  text-align: center;
  flex: 1 0 auto;
  z-index: 1;
}

.main__info h1 {
  font-size: 2.5rem;
}

#main video {
  margin-top: -30vh;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  height: 340px;
}

#main__button {
  margin-top: 24px;
  padding: 13px 24px;
  max-width: 320px;
  background: #fdbb33;
  color: #0d3685;
}
/* END MAIN SECTION */

/* PAYPAL BUSINESS SECTION */
#paypal-business {
  border-bottom: 1px solid var(--dark-blue-color);
  color: var(--dark-blue-color);
  padding: 10px 0;
}

#paypal-business .container {
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  min-height: 80px;
  padding: 0 16px;
}

#paypal-business h2 {
  font-weight: lighter;
  font-size: 1.57rem;
  text-align: center;
  line-height: 1.875rem;
}

#paypal-business__button {
  margin: 20px;
  padding: 12px 18px;
  border: 1px solid var(--main-bg-color);
  background: var(--dark-blue-color);
  color: var(--white-color);
  font-size: 0.75rem;
  line-height: 12px;
}
/* END PAYPAL BUSINESS SECTION */

/* FEATURES SECTION */

.feature .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 24px 16px;
  justify-content: center;
  align-items: center;
  min-height: 350px;
}

.feature.feature--inverse .container {
  flex-direction: row-reverse !important;
}

.feature .container > * {
  max-width: 90%;
}

.feature__info {
  padding: 10px 12px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.feature__info h2 {
  font-size: 2.14rem;
  font-weight: 400;
  line-height: 3rem;
  font-family: Helvetica, Arial, sans-serif;
}

.feature__info p {
  line-height: 30px;
  flex: 1 0;
}

.feature__info a {
  margin-top: 16px;
  outline: 0;
  text-decoration: none;
  color: #00a8ea;
  font-weight: 700;
}
.feature__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature__image img {
  max-width: 300px;
}

#features__helpWorld,
#features__notifications,
#features__gifts {
  background-color: #f5f7fa;
}

/* END FEATURES SECTION */

/* CLIENTS SECTION */
#clients {
  padding: 48px 12px;
}

#clients h2 {
  font-size: 2.14rem;
  color: #4a4a4a;
  text-align: center;
}

.clients__logo {
  margin-top: 24px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
/* END CLIENTS SECTION */

/* FOOTER SECTION */

footer .container {
  padding: 18px 12px;
  font-size: 0.8rem;
}

footer ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 12px 0;
}

footer ul li {
  margin: 2px 12px;
}

.footer__main {
  font-weight: bold;
}

.footer__secondary {
  color: #4a4a4a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__secondary > *:first-child {
  width: 100%;
  border-bottom: 1px solid #8b8b8b;
}

@media (min-width: 768px) {
  #main video {
    margin-top: -10vh;
    height: 600px;
  }

  .feature .container > * {
    width: 50%;
  }

  .feature__info {
    align-items: flex-start;
    text-align: left;
  }

  .footer__secondary > *:first-child {
    width: 50%;
    border: 0;
  }
}

@media (min-width: 968px) {
  #header__menu {
    display: none;
  }

  .header__icon {
    flex: 0.3;
  }

  .header__icon div {
    width: 100%;
  }

  .navbar {
    display: block;
    flex: 1;
  }

  #header__login {
    margin-left: 8px;
    flex: 0.15;
  }

  #header__signup {
    margin-left: 8px;
    display: block;
    flex: 0.15;
  }
}
